
// Typography
$heading-font: "Montserrat", "Open Sans", "Helvetica Neue", "Helvetica", "Verdana", sans-serif;
$body-font: "Open Sans", "Helvetica Neue", "Helvetica", "Verdana", sans-serif;


// Grid
$navbar-height: 70px;
$input-height: 40px;


// Colours
$accent-clr: #CD5555;
$body-clr: #5F646C;
$bg-clr: #F3F6F8;
$input-clr: #FCFCFC;
$input-border-clr: #E0E0E0;
$input-text-clr: #A5A5A5;
$light-blue-clr: #6BB6F0;
$light-green-clr: #7BD88A;