<div ng-hide='myCrowdfund.src'>
  <h1> Raise your deposit </h1>

  To stand as an electoral candidate you need to have a deposit of £500. 

  <ul>
    <li>Go to <a href='http://www.crowdfunder.co.uk'>crowdfunder</a></li>
    <li>Create a project to raise at least £500</li>
    <li>Promote your project through social media</li>
  </ul>

  <!-- add a new crowd funder url -->
  <form ng-submit="addCrowdfunder()">
    <input ng-model="newCrowdfunder" />
    <button type="submit">Add Crowdfunder</button>
    <button ng-click="skip()">Skip</button>
  </form>
</div>

<div ng-if='myCrowdfund.src'>
  <h3> Your Crowdfund </h3>
  <campaign src="{{myCrowdfund.src}}"/></campaign>
  <button ng-click="skip()">Next</button>
</div>

<h3> Other Independent MPs currently crowdfunding </h3>

<div ng-repeat='campaign in campaigns'>
  <campaign src="{{campaign.src}}"/></campaign>
</div>
