<!-- <ul>
    <li ng-repeat="stage in stages"> {{ stage }}</li>
</ul> -->

<form ng-submit="saveProfile(profile)" novalidate>

    <div class="wizard">

        <!-- DEBUG -->
        <p ng-if="validation.errors">You didn't fill in the form correctly!</p>

        <!-- Wizard step -->
        <div class="wizard-step" ng-show="stages[0].open">
            <div class="form-group">
                <label>First Name</label>
                <input type="text" ng-model="profile.firstName" class="form-control" placeholder="E.g. Bob..." />
            </div>
            <div class="form-group">
                <label>Other Names</label>
                <input type="text" ng-model="profile.otherNames" class="form-control" placeholder="E.g. David..." />
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" ng-model="profile.lastName" class="form-control" placeholder="E.g. Smith..." /> 
            </div>
        </div>

        <!-- Wizard step -->
        <div class="wizard-step" ng-show="stages[1].open">
            <div class="form-group">
                <label>FieldName</label>
                <input type="text" ng-model="profile.constituency" class="form-control" placeholder="E.g. Bob..." />
            </div>
            <div class="form-group">
                <label>FieldName</label>
                <input type="text" ng-model="profile.address" class="form-control" placeholder="E.g. David..." />
            </div>
        </div>

        <div class="wizard-nav">
            <a ng-click="back(profile)" ng-disabled="stages[0].open" ng-class="{ 'disabled': stages[0].open }" class="prev-btn btn btn-primary wizard-btn pull-left">
                Prev
            </a>
            <a ng-click="advance(profile)" class="prev-btn btn btn-primary wizard-btn pull-right">
                Next
            </a>
        </div>

    </div>

</form>